.news-header{
	background: red;
	color:white;
}

.news-header a{
	color:white;
	font-size: calcem(12px);
	font-weight: bold;
}

.subscribe{
	color:red;
	font-weight: bold;
	font-size: calcem(12px);
	
}

.site-brand {
	width: 150px;
	height: 30px;
}

.navbar-toggler i {
	color:white;
}

